<h3>ログイン</h3>
  <%= form_for @user, url: sign_in_path do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "メールアドレス" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "パスワード" %>
    </div>
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <div class="sign_in_link">
    <p>アカウントをお持ちですか？ <%= link_to users_new_path do %>新規登録する<% end %></p>
  </div>
