<%= form_for (@product) do |form| %>
  <div class="field">
    <%= form.label :"名前" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :"説明" %>
    <%= form.text_field :describe %>
  </div>

  <div class="field">
    <%= form.label :"金額" %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit "商品登録" %>
  </div>
<% end %>
