<h3>商品一覧</h3>
<% if @products.any? %>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.text %></td>
      <td><%= product.price %></td>
      <td><%= user.id %></td>
      <% if @product.user_id == current_user.id %>
        <%= link_to '編集する', edit_product_path(@product.id) %>
          <%= link_to product_path(@product), method: :delete do %>
            <p>削除する</p>
          <% end %>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <p class= "empty">商品はありません</p>
<% end %>
